# PostgreSQL / Supabase (pooler o conexión directa)
DB_NAME=postgres

DB_USER=postgres

DB_PASSWORD=Hola1amigos.

DB_HOST=db.rxftihuurnugbwjzvwip.supabase.co

DB_PORT=5432
# Opcional (Supabase suele requerir SSL):
# DB_SSLMODE=require
