MISTRAL_API_KEY=tu_mistral_api_key
MISTRAL_MODEL=mistral-small-latest

DB_NAME=postgres
DB_USER=postgres.TU_PROJECT_REF
DB_PASSWORD=tu_password_supabase
DB_HOST=aws-0-us-east-1.pooler.supabase.com
DB_PORT=5432
DB_SSLMODE=require

AI_SERVER_HOST=127.0.0.1
AI_SERVER_PORT=8001

SUNAT_CLIENT_ID=tu_client_id_sunat
SUNAT_CLIENT_SECRET=tu_client_secret_sunat

ASK_MAX_THINKING_SECONDS=15
COMPOSER_MAX_THINKING_SECONDS=45
DEBUG_MAX_THINKING_SECONDS=30
